<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ page.title }}</title>
    <!-- Mobile friendly element -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    <nav>
        <img src="/pics/banner1.png" alt="Cell Banner" style="width:1000px;height:78px;">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/research/">Research Interests</a></li>
            <li><a href="/cv/">CV</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
    </nav>
    <div class="container">
        
        {{ content }}

    </div><!-- /.container -->
    <footer>
        <ul>
            <li><a href="mailto:ffishman@iu.edu">email</a></li>
            <li><a href="https://github.com/fordfishman">github.com/fordfishman</a></li>
        </ul>
    </footer>
</body>

</html>
