<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <!-- Mobile friendly element -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link to stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/files/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/files/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/files/favicon-16x16.png">
    <link rel="manifest" href="/files/site.webmanifest">
</head>

<body>
    <nav>
        <div class="container-fluid p-0">
            <div class="col-12  d-flex">
                <img class="img-fluid" src="/pics/data-banner-no-text.jpeg" alt="Banner" style="max-width: 100%;">
                <h1 class="position-absolute">Ford <span class="ff-word">F:</span>shman</h1>
            </div>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/projects/">Projects</a></li>
            <!-- <li><a href="/resume/">Resume</a></li> -->
            <li><a href="/blog/">Blog</a></li>
        </ul>
    </nav>
    <div class="container">
        
        {{ content }}

    </div><!-- /.container -->
    <footer>
        <div class="container">
            <br>
            <ul>
                <li>
                    <a href="mailto:fordfishman@gmail.com">fordfishman@gmail.com</a>
                </li>
                <li>
                    <!-- <svg class="icon-github"><use xlink:href="#icon-github"></use></svg><a href="https://github.com/fordfishman">github.com/fordfishman</a> -->
                    <span class="icon-github"></span><a href="https://github.com/fordfishman">github.com/fordfishman</a>
                </li>
                <li>
                    <span class="icon-twitter"></span><a href="https://twitter.com/ford_fishman">@ford_fishman</a>
                </li>

            </ul>
            <br>
        </div>
    </footer>
</body>

</html>
