<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ page.title }}</title>
    <!-- Mobile friendly element -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/files/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/files/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/files/favicon-16x16.png">
    <link rel="manifest" href="/files/site.webmanifest">
</head>

<body>
    <nav>
        <img src="/pics/banner1.jpg" alt="Banner" style="width:1000px;height:78px;">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/research/">Research Interests</a></li>
            <li><a href="/cv/">CV</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
    </nav>
    <div class="container">
        
        {{ content }}

    </div><!-- /.container -->
    <footer>
        <br>
        <ul>
            <li>
                <a href="mailto:ffishman@iu.edu">ffishman@iu.edu</a>
            </li>
            <li>
                <span class="icon-github"></span><a href="https://github.com/fordfishman">github.com/fordfishman</a>
            </li>
            <li>
                <span class="icon-twitter"></span><a href="https://twitter.com/ford_fishman">@ford_fishman</a>
            </li>

        </ul>
    </footer>
</body>

</html>
